* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 40px;
}

.Math-Calculator {
  width: 400px;
  margin: auto auto;
}

.result-display {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color: hsl(0, 0%, 50%);
}

.keyButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
}

.btn {
  width: auto;
  height: 4.5rem;
  border-radius: 0;
  border: solid 1px #e0e0e0;
}

.btn-key {
  grid-column: 1/3;
}

.btn-operator {
  background-color: #f5913e;
  border: solid 1px #e0e0e0;
  width: auto;
}

.quote-container {
  width: auto;
  margin: 8rem auto;
  padding: 10px;
  border: 1px none #9a9292;
  border-radius: 5px;
}

.quote-container p {
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.quote-container h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-style: oblique;
}
